@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/minireset.sass";
@import "bulma/sass/components/modal.sass";

:host {
    box-sizing: border-box;
    display: block; /* by default, custom elements are display: inline */
    font-family: $family-sans-serif;
  }